version: "3"
services:
  hub:
    image: selenium/hub:4.1.0
    chrome:
    image: selenium/node-chrome:4.1.0
    shm_size: '2g'        
    depends_on:
      - hub
    environment:
      - SE_EVENT_BUS_HOST=hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
  firefox:
    image: selenium/node-firefox:4.1.0
    shm_size: '2g'   
    depends_on:
      - hub
    environment:
      - SE_EVENT_BUS_HOST=hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
  search-module:
      image: mac021/selenium-docker
      depends_on:
        - chrome
        - firefox
      environment:
      - BROWSER=firefox
      - HUB_HOST=hub
      - MODULE=search-module.xml
      volumes:
      - C:\Users\MANU\eclipse-workspace\output\test-output\search-result:/usr/share/udmey/test-output
  book-flight-module:
      image: mac021/selenium-docker
      depends_on:
        - chrome
        - firefox
      environment:
      - BROWSER=chrome
      - HUB_HOST=hub
      - MODULE=book-flight-module.xml
      volumes:
      - C:\Users\MANU\eclipse-workspace\output\test-output\book-flight:/usr/share/udmey/test-output

